manifest {
  name            = 'Promotheus-nextflow'
  author          = 'Promotheus contributors'
  homePage        = 'https://github.com/'
  description     = 'Nextflow wrapper for the Promotheus dockerized transcriptomic pipeline'
  version         = '1.0.0'
  nextflowVersion = '>=23.10.0'
}

profiles {
  standard {
    process.executor = 'local'
  }

  test {
    params.skip_execution = true
  }
}

trace {
  enabled = true
}

report {
  enabled = true
}

timeline {
  enabled = true
}

dag {
  enabled = true
}
